.show-img {
  width: 100vw;
  height: 55vh;
  margin-top: 60px;
  background-size: cover;
  background-position: center;
}

.show-desc-price {
  display: flex;
  margin-top: 50px;
  .show-desc {
    width: 60%;
    padding-right: 40px;
  }
  .show-price {
    width: 40%;
    display: flex;
    flex-direction: column;
    .checkout {
      margin-top: 40px;
    }
  }
}

.card-product {
  overflow: hidden;
  height: 120px;
  /*width: 95%;*/
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.book-btn {
  a:hover{
    text-decoration: none;
  }
}
