#banner {
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), image_url("babilonio-banner.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 92vh;
  width: 100vw;
  background-size: cover;
  h1 {
    color: white;
    font-size: 65px;
  }
  p {
    color: white;
    font-size: 15px;
  }
  a:hover {
    text-decoration: none;
  }
  a:hover .button{
    background: #3AB56E;
  }
}
