.garden-card {
  height: 200px;
  width: 740px;
  display: flex;
  border-radius: 7px;
  margin-bottom: 20px;
  .card-img {
    background: grey;
    height: 100%;
    width: 35%;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    background-size: cover;
    background-position: center;
    color: transparent;
  }
  .card-desc {
    background: white;
    height: 100%;
    width: 65%;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 20px;
  }
}

.home-card {
  height: 220px;
  width: 1fr;
  background: lightgrey;
  border: solid 10px #F9E7E7;
  flex-grow: 1;
  padding: 0;
  border-radius: 25px;
  .home-card-img {
    height: 100%;
    width: 100%;
    flex-grow: 0;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 7px;
    transition: all .5s;
  }
  a:hover {
    text-decoration: none;
  }
}

.home-card:hover .home-card-img,
.home-card:focus .home-card-img {
  transform: scale(1.035);
}
